In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

#CARREGANDO DATASET INFORMANDO FORMATO DOS 'MISSING VALUES'
eca = pd.read_csv('eca.csv', na_values=['NULL'], dtype={"MATRICULA" : "object"})

eca.head()

,MATRICULA,SIT_MATRICULA,PAI_FALECIDO,MAE_FALECIDO,RENDA_FAMILIAR,TIPO_ESCOLA_ORIGEM,ANO_CONCLUSAO_2_GRAU,RENDA_PER_CAPITA,COD_ESTADO_CIVIL,N_FILHOS,...,NIVEL_COMPREENSAO,NIVEL_ESCRITA,NIVEL_LEITURA,COD_INICIACAO_CIENTIFICA,NOTAS,N_FALTAS,COD_DISCIPLINA,CARGA_HOR,QTDE_BOLSAS,QTDE_INICIACOES
0,20131010700205,9,0.0,0.0,5.0,E,2004.0,NaN,S,0.0,...,NaN,NaN,NaN,NaN,5.8,NaN,648,54,0,0
1,20131010700175,0,0.0,0.0,NaN,P,NaN,NaN,S,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,648,54,0,0
2,20152010700038,0,0.0,0.0,NaN,F,NaN,NaN,S,NaN,...,NaN,NaN,NaN,NaN,0.0,70.0,648,54,0,0
3,20161010700223,0,0.0,0.0,0.0,P,2014.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.0,70.0,648,54,0,0
4,20082010700020,0,0.0,0.0,NaN,P,2007.0,3.0,S,0.0,...,2.0,2.0,2.0,NaN,4.2,0.0,648,54,0,0

In [16]:

#CRIANDO CAMPO DE ANO DE INGRASSO PARA CÁLCULO DA IDADE DE INGRESSO
eca['ANO_INGRESSSO'] = eca['MATRICULA'].str[:4]


#EXCLUINDO O ATRIBUTO MATRICULA
eca.drop('MATRICULA',axis=1, inplace=True)

#SALVANDO eca SEM MATRICULA
eca.to_csv('eca.csv', index=False)

eca.dtypes

SIT_MATRICULA                 int64
PAI_FALECIDO                float64
MAE_FALECIDO                float64
RENDA_FAMILIAR              float64
TIPO_ESCOLA_ORIGEM           object
ANO_CONCLUSAO_2_GRAU        float64
RENDA_PER_CAPITA            float64
COD_ESTADO_CIVIL             object
N_FILHOS                    float64
SEXO                         object
DT_NASCIMENTO                object
PROFISSAO                    object
DESC_CIDADE                  object
DESC_IDIOMA                  object
NIVEL_FALA                  float64
NIVEL_COMPREENSAO           float64
NIVEL_ESCRITA               float64
NIVEL_LEITURA               float64
COD_INICIACAO_CIENTIFICA    float64
NOTAS                       float64
N_FALTAS                    float64
COD_DISCIPLINA                int64
CARGA_HOR                     int64
QTDE_BOLSAS                   int64
QTDE_INICIACOES               int64
ANO_INGRESSSO                object
dtype: object